.context-menu {
    -fx-background-color: -vk-surface;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-width: 1;
    -fx-border-color: -vk-border;
    -fx-padding: 5 0;
}

.menu-item {
    -fx-background-color: transparent;
    -fx-padding: 6 16;
    -fx-background-radius: 8;
    -fx-background-insets: 2 6;
    -fx-font-size: 13.5;
    -fx-text-fill: -vk-text;
}

.menu-item:hover, .menu-item:focused {
    -fx-background-color: -vk-primary;
}

.menu-item:hover .label, .menu-item:focused .label {
    -fx-text-fill: white;
}

.menu-item .accelerator-text {
    -fx-text-fill: -vk-text-secondary;
}

.menu-item:hover .accelerator-text {
    -fx-text-fill: white;
}

.separator .line {
    -fx-border-color: -vk-border;
    -fx-border-width: 0.5;
    -fx-border-insets: 0 10;
}
